{% extends 'base.html' %}
{% load static %}

{% block title %}Аккаунт - MySocial{% endblock %}

{% block content %}
<h1>Ваш профиль</h1>
<p>Ваше имя пользователя: {{ user.username }}</p>

<p>Подписчики: {{ followers_count }}</p>
<p>Подписки: {{ following_count }}</p>

{% comment %} {% if is_following %}
    <form action="{% url 'users:unfollow_user' username=user.username %}" method="post">
        {% csrf_token %}
        <button type="submit">Отписаться</button>
    </form>
{% else %}
    <form action="{% url 'users:follow_user' username=user.username %}" method="post">
        {% csrf_token %}
        <button type="submit">Подписаться</button>
    </form>
{% endif %} {% endcomment %}
{% endblock %}
