{% extends "base.html" %}

{% block title %}Главная - MySocial{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        {% for post in posts %}
        <div class="card mb-4">
            <img 
                src="{{ post.image_url|default:'https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=' }}" 
                class="card-img-top" 
                alt="{{ post.title }}"
            >
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">
                    {{ post.content|truncatewords:10 }}
                </p>
                <p class="text-muted">Опубликовано: {{ post.created_at|date:"d M Y" }}</p>
                <a href="{% url 'content:post' post.slug %}" class="btn btn-primary">Читать далее</a>
            </div>
        </div>
        {% empty %}
        <p>Нет публикаций</p>
        {% endfor %}
    </div>

    <!-- Sidebar -->
    <div class="col-md-4">
        <div class="sticky-top" style="top: 20px;">
            <!-- User Profile Card -->
            <div class="card mb-3">
                <img src="https://t3.ftcdn.net/jpg/01/09/84/42/360_F_109844212_NnLGUrn3RgMHQIuqSiLGlc9d419eK2dX.jpg" class="card-img-top rounded-circle mx-auto my-3" 
                     alt="User Profile" style="width: 120px; height: 120px;">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ request.user.username }}</h5>
                    <a href="{% url 'users:profile' username=request.user.username %}" class="btn btn-outline-primary btn-sm">Профиль</a>
                </div>
            </div>

            <!-- Suggested Users -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Все пользователи</h5>
                    <ul>
                        {% for user in users %}
                            {% if not user.username == request.user.username%}
                            <li><a href="{% url 'users:profile' username=user.username %}">{{ user.username }}</a></li>
                            {%endif%}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
